.form-container {
    padding: 20px;
    text-align: center;
    background-color: rgb(255, 255, 255,0.33);
    box-shadow: 0px 8px 32px 0 rgba(5, 5, 27, 0.74);
    backdrop-filter: blue(32px);
    padding: 5px 45px 5px 45px;
    border-radius: 16px;
  }
  
  .heading-con {
    padding-left: 10px;
  }
  .container {
    display: inline-block;
    width: 800px;
    justify-content: center;
    border: 2px solid;
    border-color: #18181a;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      24deg,
      rgba(0, 0, 0, 1) 52%,
      rgba(48, 48, 48, 1) 82%
    );
    border-radius: 11px;
  }
  
  .container:hover {
    border-color: #d46b08;
    box-shadow: 0px 0px 11px 0px #d46b08;
  }
  
  .heading-con {
    /* border-bottom: 2px solid; */
    border-color: #7365c2;
  }
  
  .container:hover .heading-con {
    border-color: #d46b08;
  }
  
  p {
    color: #b2b1b9;
  }
  
  .ant-form-item-required {
    color: #b2b1b9 !important;
  }
  
  .ant-btn {
    width: 100% !important;
    background-color: transparent !important;
    box-shadow: none !important;
    border: 2px solid;
    border-color: #28215f;
    font-size: 16px;
    height: 40px;
    margin :15%;
    margin-left: -86%;
    margin-top: 0%;
  }
  .checkbox{
    margin-left:-100% ;
    margin-top: -20%;
  }
  .ant-btn:hover {
    border-color: #d46b08;
    color: #d46b08 !important;
  }
  
  .ant-input,
  .ant-input-affix-wrapper.ant-input-password {
    background-color: transparent !important;
    color: #c5abab;
  }
  .ant-input:hover,
  .ant-input-affix-wrapper.ant-input-password:hover,
  .ant-input:focus,
  .ant-input-affix-wrapper.ant-input-password:focus,
  .ant-input-affix-wrapper-focused {
    border-color: #d46b08 !important;
  }
  
  .anticon.anticon-eye-invisible.ant-input-password-icon,
  .anticon.anticon-eye.ant-input-password-icon {
    color: rgba(225, 225, 225, 0.9) !important;
  }
  
  .ant-input-affix-wrapper:hover {
    border-color: #d46b08 !important;
  }

  .heading-con {
    width: 600px;
}
  